<div style="background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;color: whitesmoke;padding-top:8px;padding-bottom: 8px;padding-left:10px;font-weight: bold; "><span style="color: whitesmoke;"><strong><span><i class="fad fa-exclamation-triangle"></i>  Confirm Token Incorrect!</span></strong><br>Sorry, the token entered do not match <code>{{auth_code}}</code> Try again!</span>
</div>