<tr><th><label for="id_name">Name:</label></th><td><input type="text" name="name" maxlength="100000" required id="id_name"></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" maxlength="100000" required id="id_email"></td></tr>
<tr><th><label for="id_whatsapp_contact">Whatsapp contact:</label></th><td><input type="text" name="whatsapp_contact" maxlength="100000" id="id_whatsapp_contact"></td></tr>
<tr><th><label for="id_query">Query:</label></th><td><textarea name="query" cols="40" rows="10" maxlength="100000" required id="id_query">
</textarea></td></tr>
<tr><th><label for="id_ticket_id">Ticket_ID:</label></th><td><input type="text" name="ticket_id" maxlength="100000" required id="id_ticket_id"></td></tr>
<tr><th><label for="id_seven_digit_auth_code">Auth_code:</label></th><td><input type="text" name="seven_digit_auth_code" value="authentication_token_2dd9e96" maxlength="40" required id="id_seven_digit_auth_code"><input type="hidden" name="initial-seven_digit_auth_code" value="authentication_token_2dd9e96" id="initial-id_seven_digit_auth_code"></td>
</tr>


<tr><th><label for="id_seven_digit_auth_code_enter">Auth_code_enter:</label></th><td><input type="text" name="seven_digit_auth_code_enter" maxlength="40" required id="id_seven_digit_auth_code_enter"></td></tr>






<tr><th><label for="id_ticket_id">Ticket_ID:</label></th><td><input type="text" name="ticket_id" maxlength="100000" id="id_ticket_id"></td></tr>
<tr><th><label for="id_seven_digit_auth_code">Auth_code:</label></th><td><input type="text" name="seven_digit_auth_code" value="authentication_token_cf4943b" maxlength="30" required id="id_seven_digit_auth_code"><input type="hidden" name="initial-seven_digit_auth_code" value="authentication_token_cf4943b" id="initial-id_seven_digit_auth_code"></td></tr>
<tr><th><label for="id_seven_digit_auth_code_enter">Auth_code_enter:</label></th><td><input type="text" name="seven_digit_auth_code_enter" maxlength="30" required id="id_seven_digit_auth_code_enter"></td></tr>



<tr><th><label for="id_name">Name:</label></th><td><input type="text" name="name" maxlength="100000" required id="id_name"></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" maxlength="100000" required id="id_email"></td></tr>
<tr><th><label for="id_whatsapp_contact">Whatsapp contact:</label></th><td><input type="text" name="whatsapp_contact" maxlength="100000" id="id_whatsapp_contact"></td></tr>
<tr><th><label for="id_query">Query:</label></th><td><textarea name="query" cols="40" rows="10" maxlength="100000" required id="id_query">
</textarea></td></tr>
<tr><th><label for="id_ticket_id">Ticket_ID:</label></th><td><input type="text" name="ticket_id" value="4921150" maxlength="100000" required id="id_ticket_id"><input type="hidden" name="initial-ticket_id" value="4921150" id="initial-id_ticket_id"></td></tr>
<tr><th><label for="id_seven_digit_auth_code">Auth_code:</label></th><td><input type="text" name="seven_digit_auth_code" value="authentication_token_f815a03" maxlength="40" required id="id_seven_digit_auth_code"><input type="hidden" name="initial-seven_digit_auth_code" value="authentication_token_f815a03" id="initial-id_seven_digit_auth_code"></td></tr>
<tr><th><label for="id_seven_digit_auth_code_enter">Auth_code_enter:</label></th><td><input type="text" name="seven_digit_auth_code_enter" maxlength="40" required id="id_seven_digit_auth_code_enter"></td></tr>
<tr><th><label for="id_updated">Updated:</label></th><td><input type="text" name="updated" value="2020-01-27 09:29:17" required id="id_updated"></td></tr>
